
html {
    box-sizing: border-box;
}

*,

*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

a {
    color: #565656;
}
a:hover, a:focus {
    color: #046a38;
}

.container {
    margin: 5% 3%;
}
@media (min-width: 48em) {
    .container {
        margin: 2%;
    }
}
@media (min-width: 75em) {
    .container {
        margin: 2em auto;
        max-width: 75em;
    }
}

.responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
}
@media (min-width: 48em) {
    .responsive-table {
        font-size: 0.9em;
    }
}
@media (min-width: 62em) {
    .responsive-table {
        font-size: 1em;
    }
}
.responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
@media (min-width: 48em) {
    .responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
}
.responsive-table thead th {
    background-color: #565656;
    border: 1px solid #343434;
    font-weight: normal;
    text-align: center;
    color: white;
}
.responsive-table thead th:first-of-type {
    text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
}
@media (min-width: 48em) {
    .responsive-table tr {
        display: table-row;
    }
}
.responsive-table th,
.responsive-table td {
    padding: 0.5em;
    vertical-align: middle;
}
@media (min-width: 30em) {
    .responsive-table th,
    .responsive-table td {
        padding: 0.75em 0.5em;
    }
}
@media (min-width: 48em) {
    .responsive-table th,
    .responsive-table td {
        display: table-cell;
        padding: 0.5em;
    }
}
@media (min-width: 62em) {
    .responsive-table th,
    .responsive-table td {
        padding: 0.75em 0.5em;
    }
}
@media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
        padding: 0.75em;
    }
}
.responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 48em) {
    .responsive-table caption {
        font-size: 1.5em;
    }
}
.responsive-table tfoot {
    font-size: 0.8em;
    font-style: italic;
}
@media (min-width: 62em) {
    .responsive-table tfoot {
        font-size: 0.9em;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody {
        display: table-row-group;
    }
}
.responsive-table tbody tr {
    margin-bottom: 1em;
}
@media (min-width: 48em) {
    .responsive-table tbody tr {
        display: table-row;
        border-width: 1px;
    }
}
.responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 48em) {
    .responsive-table tbody tr:nth-of-type(even) {
        background-color: rgba(0, 0, 0, 0.12);
    }
}
.responsive-table tbody th[scope=row] {
    background-color: #343434;
    color: white;
}
@media (min-width: 30em) {
    .responsive-table tbody th[scope=row] {
        border-left: 1px solid #343434;
        border-bottom: 1px solid #343434;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody th[scope=row] {
        background-color: transparent;
        color: #565656;
        text-align: left;
    }
}
.responsive-table tbody td {
    text-align: right;
}
@media (min-width: 48em) {
    .responsive-table tbody td {
        border-left: 1px solid #343434;
        border-bottom: 1px solid #343434;
        text-align: center;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody td:last-of-type {
        border-right: 1px solid 000000;
    }
}
.responsive-table tbody td[data-type=currency] {
    text-align: right;
}
.responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.54);
}
@media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
        font-size: 0.9em;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
        content: none;
    }
}
.tmbl {
    text-align: right;
    background: #FFF;
    color: #000;
    cursor: pointer;
    border-radius: 20px;
}

#boxes {
    width: 0 auto;
    height: 0 auto;
    overflow: hidden;
    background-color: rgba(0, 0, 10, .50);
    border-radius: 5px;
    position: absolute;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    text-align: center;
    display: none;
}
#boxes a {
    margin-left: 95%;
    color: #fff;
    font-size: 25px;
    margin-top: -10px;
}
#boxes input {
    margin-top: 10px;
    background-color: transparent;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #EAEAEA;
    color: #F5F5F5;
}
#boxes button {
    margin-top: 10px;
    cursor: pointer;
    color: #000;
    background-color: #FFFFFF;
    letter-spacing: 1px;
    font-family: roboto;
    border-radius: 5px;
    border: 1px solid #000;
}
.footer {
    margin-top: -10px;
    margin-bottom: 0%;
}
.footer h3 {
    padding-top: 10px;
    font-weight: 300;
    font-size: 13px;
    font-style: roboto;
    color: #808080;
}
.footer li {
    font-weight: 300;
    font-size: 13px;
    font-style: roboto;
    color: #808080;
}
.footer a {
    font-size: 14px;
    font-style: roboto;
    color: #4FAAFF;
}